label[for='p_method_hitpay'] img{
    margin-right: 5px;
}
.hitpay_success_loader {
    display: inline-block;
}
.payment_status_failed img {
    display: inline-block;
    position: relative;
    top: 3px;
}
.payment_error img {
    display: inline-block;
    position: relative;
    top: 3px;
}
.payment_status_complete img {
    display: inline-block;
}
