<?xml version="1.0"?>
<config>
    <modules>
        <Snenko_Hitpay>
            <version>0.1.0</version>
        </Snenko_Hitpay>
    </modules>
    <frontend>
        <routers>
            <hitpay>
                <use>standard</use>
                <args>
                    <module>Snenko_Hitpay</module>
                    <frontName>hitpay</frontName>
                </args>
            </hitpay>
        </routers>
        <layout>
            <updates>
                <hitpay>
                    <file>hitpay.xml</file>
                </hitpay>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <hitpay>
                <class>Snenko_Hitpay_Helper</class>
            </hitpay>
        </helpers>
        <blocks>
            <hitpay>
                <class>Snenko_Hitpay_Block</class>
            </hitpay>
        </blocks>
        <models>
            <hitpay>
                <class>Snenko_Hitpay_Model</class>
            </hitpay>
        </models>
        <resources>
            <hitpay_setup>
                <setup>
                    <module>Snenko_Hitpay</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hitpay_setup>
            <hitpay_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </hitpay_setup>
            <hitpay_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </hitpay_setup>
        </resources>
    </global>
    <default>
        <payment>
            <hitpay>
                <model>hitpay/hitpay</model>
                <active>0</active>
                <mode>0</mode>
                <title>HitPay</title>
                <debug>1</debug>
                <api_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <salt backend_model="adminhtml/system_config_backend_encrypted"/>
                <paynow>1</paynow>
                <cards>1</cards>
                <wechat>1</wechat>
                <alipay>1</alipay>
            </hitpay>
        </payment>
    </default>
</config>